{% extends 'base.html' %}
{% load static %}

{% block title %}
Ceo Message
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home/ceo_message.css'%}">

<link rel="stylesheet" href="{% static 'css/products/products.css' %}">
<link rel="stylesheet" href="{% static 'css/home/about_us.css' %}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">


{% endblock css %}

{% block content %}
<style>
    .box {
        background: url("{% static 'img/ceo/ceo_img.png' %}") no-repeat;
        background-color: #478bbc;
        background-size: cover;
        background-position: center top;
        height: 600px;
        width: 550px;
        border-radius: 30% 70% 23% 77% / 70% 30% 70% 30%;
    }
</style>


<section>
    <div class="background-img">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="display-4 hidden-top">Ceo Message</h1>
            </div>
        </div>
    </div>
</section>

<div class="upper-curve">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#478bbc" fill-opacity="1" class="hidden-bottom"
            d="M0,256L240,96L480,160L720,96L960,160L1200,128L1440,288L1440,0L1200,0L960,0L720,0L480,0L240,0L0,0Z">
        </path>
    </svg>
</div>

<div class="ceo-ctn">
    <div class="row">

        <div class="col-md-6 hidden-left custom-ceo-ctn">
            <div class="wrapper">
                <div class="box">
                </div>
            </div>
        </div>
        <div class="col-md-6 pr-5">
            <h1 class="text-left hidden-top"> <span class="highlight-txt">Message from the CEO:</span></h1>
            <p class="hidden-top mt-2">It is my most immense pleasure to welcome you to World Cure Life Sciences
                Company. The idea behind it all
                is to reach out to the millions of people in the country who are deprived of the most basic needs in
                life such as medicines and to provide them with products that could both save and change lives. This
                goal is achieved through hard work and determination inside a team equipped with some of the most
                talented people in the industry and a strong collaboration with our providers and clients.</p>
            <p class="hidden-top">
                My vision for World Cure Life Sciences Company is to build an environment and workspace for those who
                share the same dream as mine, which is to work with the most healing of hands and to invest from the
                most caring of hearts.
            </p>
            <p class="hidden-top">
                When I look back at this company, despite the greatest sense of pride that I feel for all that we have
                achieved, I still feel a constant sense of obligation to look forwards at how far we still have to go to
                end human suffering in every way we can.
            </p>
            <p class="hidden-top">
                I would like to personally thank all of our faithful and esteemed clients, as well as everyone involved
                who has played the most important role in our ongoing journey.Together, we can build a better world.
            </p>
            <p class="hidden-top">
                World Cure Life Sciences
            </p>
            <p class="hidden-top">
                CEO,
                <br>
                Khy Phearun
            </p>
        </div>
    </div>
</div>
<div class="lower-curve">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="transform: scaleY(-1);">
        <path fill="#478bbc" fill-opacity="1" class="hidden-top"
            d="M0,256L240,96L480,160L720,96L960,160L1200,128L1440,288L1440,0L1200,0L960,0L720,0L480,0L240,0L0,0Z">
        </path>
    </svg>

</div>


<script src="{% static 'js/home/about_us.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}