{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact Us | WCL
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home/about_us.css' %}">
<link rel="stylesheet" href="{% static 'css/home/contact_us.css' %}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">
{% endblock css %}


{% block content %}
<section>
    <div class="background-img">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="display-4 hidden-top">Contact Us</h1>
            </div>
        </div>
    </div>
</section>vq



<script src="{% static 'js/home/about_us.js'%}"></script>
<script src="{% static 'js/home/contact_us.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}