{% extends 'base.html' %}
{% load static %}

{% block title %} Home | WCL{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products/products.css' %}">
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">
{% endblock css%}



{% block content %}
<div class="slider">
    <div class="slides">
        {% for news_item in news_items %}
            {% if news_item.is_published %}
                <div class="slide {% if forloop.first %}active{% endif %}">
                    <div class="slide-title">
                        <h1>{{ news_item.title }}</h1>
                    </div>
                    <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button class="prev" onclick="moveSlide(-1)"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next" onclick="moveSlide(1)"><i class="fa-solid fa-chevron-right"></i></button>
</div>



<section class="custom-shape hidden-top">
    <div class="upper-curve">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,96L60,112C120,128,240,160,360,144C480,128,600,64,720,80C840,96,960,192,1080,213.3C1200,235,1320,181,1380,154.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
            </path>
        </svg>

    </div>
    <section class="welcome-ctn">
        <div class="container welcome-ctn ">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hidden-top mb-3">Welcome to World Cure Life License</h1>
                    <p class="hidden-top">With head office in Phnom Penh, Kingdom of Cambodia, works with many of the
                        world's leading companies through various agreements, partnerships and joint
                        ventures, the group is a leading healthcare, dealing in medicines consumer care
                        company in Cambodia, and is committed to meeting the growing needs of
                        healthcare and pharmaceutical distribution in the country.</p>
                    <p class="hidden-bottom mt-5">World Cure Life Sciences has a unique distribution and marketing
                        network of
                        more than 50 sates and medical representatives (comprising mostly of medical
                        Sates Backgrounds), the company is managed by a highty• experienced team
                        consisting of Cambodia and expatriates with diverse backgrounds and skitt sets.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="lower-curve">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,96L60,112C120,128,240,160,360,144C480,128,600,64,720,80C840,96,960,192,1080,213.3C1200,235,1320,181,1380,154.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div>
</section>




<section class="goal-ctn">
    <h1 class="hidden-top">Our <span> Vision, Mission, Value</span></h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-left mt-5">
                <h1 class="goal-heading hidden-top">Vision</h1>
                <p class="hidden-left">Our vision is to build total
                    brand value by innovating to
                    deliver consumer value and
                    customer leadership faster,
                    better, and more complete
                    health services through
                    continuous improvement
                    driven by the integrity,
                    teamwork, and innovation
                    of excellent people.</p>
            </div>
            <div class="col-md-12 text-left mt-5">
                <h1 class="goal-heading hidden-top">MISSION</h1>
                <p class="hidden-left">To lead the healthcare
                    industry with the highest
                    standards, ensure medical
                    needs and consumer care
                    products meet the needs
                    of the community today.
                    and build capabilities to
                    raise standards to meet the
                    need of future generation</p>
            </div>
            <div class="col-md-12 text-left mt-5">
                <h1 class="goal-heading hidden-top">Value</h1>
                <p class="hidden-left">Ethics and professionalism,
                    integrity, quality of service,
                    innovation and trust are
                    company core values. These
                    values are implemented in every
                    aspect of the company and
                    combined with our deep
                    understanding of the market.</p>
            </div>
        </div>
    </div>
</section>


<hr>


<section class="goal-ctn">
    <h1 class="hidden-top">Our <span> Activities</span></h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-left mt-5">
                <p class="hidden-left">The cornpany is uniquely positioned to serve the growing needs of the
                    Cambodia market. Our core activities are import, distribution,
                    promotion, marketing and license manufacturing through integrity and
                    professionalism. white enjoying an esteemed reputation in Cambodia.</p>
            </div>
        </div>
</section>


<hr>
<section class="product-content container">

    <div class="category-header">
        <h2 class="category-name">Our Products</h2>
        <a href="{% url 'product:products' %}" class="btn bg-light border-secondary text-primary">See more</a>
    </div>

    <div class="row justify-content-start mt-3 mb-5" id="product-grid">
        {% for product in random_products %}
        <div class="col-6 col-md-4 col-lg-3 scroll-fade-in product-item hidden-left" onclick="showModal(this)" href="#">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mx-auto d-block fade-in-left product-img">
            <p class="productName">
                {{ product.name }}
                {% if product.compositions.all|length > 1 %}
                {% for pack_size in product.pack_sizes.all %}
                {% if forloop.first %}
                {{ pack_size.value }}{{ pack_size.pack_size_unit }}
                {% else %}
                & {{ pack_size.value }}{{ pack_size.pack_size_unit }}
                {% endif %}
                {% endfor %}
                {% else %}
                {% for composition in product.compositions.all %}
                {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                {% if not forloop.last %}&{% endif %}
                {% endfor %}
                {% endif %}
            </p>

            <ul class="product-description hidden">
                <p>{{ product.product_type }}</p>
                <li class="mt-2"><b>Generic:</b>
                    {% for generic in product.generics.all %}
                    {{ generic }}
                    {% if not forloop.last %} + {% endif %}
                    {% endfor %}
                </li>

                <li class="mt-2"><b>Pack size:</b>
                    {% for pack_size in product.pack_sizes.all %}
                    {% if forloop.first %}
                    {{ pack_size.value }}{{ pack_size.pack_size_unit }}
                    {% else %}
                    & {{ pack_size.value }}{{ pack_size.pack_size_unit }}
                    {% endif %}
                    {% endfor %}
                </li>

                <li class="mt-2"><b>Composition:</b>
                    {% for composition in product.compositions.all %}
                    {% if forloop.first %}
                    {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                    {% else %}
                    + {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                    {% endif %}
                    {% if forloop.last %}
                    / {{ product.product_type }}
                    {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <hr>

</section>






<script src="{% static 'js/home/home.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}