{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
<link rel="stylesheet" href="{% static 'css/products/products.css' %}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">
{% endblock css%}



{% block content %}
<div class="slider">
    <div class="slides">
        {% for news_item in news_items %}
        <div class="slide {% if forloop.first %}active{% endif %}">
            <div class="slide-title">
                <h1>{{ news_item.title }}</h1>
            </div>
            <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
        </div>
        {% endfor %}
    </div>
    <button class="prev" onclick="moveSlide(-1)"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="next" onclick="moveSlide(1)"><i class="fa-solid fa-chevron-right"></i></button>
</div>



<section class="welcome-ctn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="hidden-top">Welcome to World Cure Life License</h1>
                <p class="hidden-top">We are the premier Market Expansion Services provider for businesses aiming to expand their
                    operations in Cambodia.</p>
                <p  class="hidden-bottom">Dedicated to assisting our partners with our wide-ranging global connections and industry know-how,
                    coupled with our deep understanding of Cambodia's markets and supported by a team of 1,700 experts,
                    we enable companies to thrive in both established and emerging markets.</p>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="circle-box">
    <h1 class="hidden-top">We provide you with best</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="circle hidden-top">
                    <h3>Price</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="circle hidden-top">
                    <h3>Quality</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="circle hidden-top">
                    <h3>Trust</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="product-ctn-home container">
    <h1 class="hidden-top">Our Products</h1>
    <div class="row justify-content-start mt-5" id="product-grid">
        <div class="col-6 col-md-4 col-3 hidden-left">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="Product 1" class="img-fluid mx-auto d-block fade-in-left">
            <p class="productName">Product 1</p>
            <ul class="product-description hidden">
                <li>vitamin a</li>
                <li>vitamin b</li>
            </ul>
        </div>
        <div class="col-6 col-md-4 col-3 hidden-left">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="Product 1" class="img-fluid mx-auto d-block fade-in-left">
            <p class="productName">Product 1</p>
            <ul class="product-description hidden">
                <li>vitamin a</li>
                <li>vitamin b</li>
            </ul>
        </div>
        <div class="col-6 col-md-4 col-3 hidden-right">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="Product 1" class="img-fluid mx-auto d-block fade-in-left">
            <p class="productName">Product 1</p>
            <ul class="product-description hidden">
                <li>vitamin a</li>
                <li>vitamin b</li>
            </ul>
        </div>
        <div class="col-6 col-md-4 col-3 hidden-right">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="Product 1" class="img-fluid mx-auto d-block fade-in-left">
            <p class="productName">Product 1</p>
            <ul class="product-description hidden">
                <li>vitamin a</li>
                <li>vitamin b</li>
            </ul>
        </div>
        <p><a href="{% url 'product:products'%}">See more></a></p>
    </div>
</section>





<script src="{% static 'js/home/home.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}