{% extends 'base.html' %}
{% load static %}

{% block title %}
Ceo Message
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home/top_management.css'%}">
<link rel="stylesheet" href="{% static 'css/home/ceo_message.css'%}">

<link rel="stylesheet" href="{% static 'css/products/products.css' %}">
<link rel="stylesheet" href="{% static 'css/home/about_us.css' %}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">


{% endblock css %}

{% block content %}
<style>
</style>

{% include 'home/background_section.html' with title="Top Management" %}

<div class="upper-curve">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#0099ff" fill-opacity="1"
            d="M0,224L40,197.3C80,171,160,117,240,112C320,107,400,149,480,181.3C560,213,640,235,720,218.7C800,203,880,149,960,144C1040,139,1120,181,1200,202.7C1280,224,1360,224,1400,224L1440,224L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
        </path>
    </svg>
</div>


<section class="top-management">
    <h1 class="font-weight-bold top-management text-center hidden-top">Top Management in WCL</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center hidden-top">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCoYF92bNTcapG0JYRSLyLkitfJ3iCITm897VSlnJRsQ&s"
                    alt="">
                <h3>Person 1</h3>
                <p class="text-center">Director</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center hidden-top">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCoYF92bNTcapG0JYRSLyLkitfJ3iCITm897VSlnJRsQ&s"
                    alt="">
                <h3>Person 2</h3>
                <p class="text-center">Director</p>
            </div>
            <div class="col-md-6 text-center hidden-top">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCoYF92bNTcapG0JYRSLyLkitfJ3iCITm897VSlnJRsQ&s"
                    alt="">
                <h3>Person 3</h3>
                <p class="text-center">Director</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center hidden-top">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCoYF92bNTcapG0JYRSLyLkitfJ3iCITm897VSlnJRsQ&s"
                    alt="">
                <h3>Person 2</h3>
                <p class="text-center">Director</p>
            </div>
            <div class="col-md-6 text-center hidden-top">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCoYF92bNTcapG0JYRSLyLkitfJ3iCITm897VSlnJRsQ&s"
                    alt="">
                <h3>Person 3</h3>
                <p class="text-center">Director</p>
            </div>
        </div>
    </div>
</section>
<div class="lower-curve">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#478bbc" fill-opacity="1"
            d="M0,224L40,197.3C80,171,160,117,240,112C320,107,400,149,480,181.3C560,213,640,235,720,218.7C800,203,880,149,960,144C1040,139,1120,181,1200,202.7C1280,224,1360,224,1400,224L1440,224L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
</div>


<script src="{% static 'js/home/about_us.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}