{% extends 'base.html' %}
{% load static %}

{% block title %}Anti Infective | WCL {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products/anti_infective.css'%}">{% endblock css %}


{% block content %}
<section>
    <div class="background-img">
        <h1>Anti Infectives</h1>
    </div>
</section>
<section class="product-desc-ctn">
    <div class="product-desc">
        <p>Anti-infectives are medicines that work to prevent or treat infections, they include antibacterial,
            antivirals, antifungals and antiparasitic medications. Don Valley Pharma is a leading anti-infectives
            manufacturer in Pakistan.</p>
    </div>
</section>

<section class="product-content">
    <div class="row">
        <div class="col-md-3 mb-3 product-row">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="">

        </div>
        <div class="col-md-3 mb-3 product-row">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="">

        </div>
        <div class="col-md-3 mb-3 product-row">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="">

        </div>
        <div class="col-md-3 mb-3 product-row">
            <img src="https://assets.sainsburys-groceries.co.uk/gol/8075006/1/640x640.jpg" alt="">

        </div>
</section>



{% endblock content %}