{% extends 'base.html' %}
{% load static %}

{% block title %}Products | WCL {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products/products.css'%}">
<link rel="stylesheet" href="{% static 'css/products/product_detail.css'%}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">
{% endblock css %}

{% block content %}

{% include 'home/background_section.html' with title="Our Products" %}

<hr>


{% for category in categories %}

<section class="product-content container">

    <div class="category-header">
        <h2 class="category-name">{{ category.name }}</h2>
        <button class="see-more-btn" role="button"><a href="{% url 'product:category_page' category.slug %}">See
                more</a></button>
    </div>

    <div class="row justify-content-start mt-3 mb-5" id="product-grid">
        {% for product in category.product_set.all %}
        <div class="col-6 col-md-4 col-lg-3 scroll-fade-in product-item hidden-left" onclick="showModal(this)" href="#">
            <img src="{{ product.image.url }}" alt="{{ product.name }}"
                class="img-fluid mx-auto d-block fade-in-left​​ product-img">
            <p class="productName">
                {{ product.name }}
                {% if product.compositions.all|length > 1 %}
                {% for pack_size in product.pack_sizes.all %}
                {{ pack_size.value_without_decimal }}{{ pack_size.pack_size_unit }}
                {% endfor %}
                {% else %}
                {% for composition in product.compositions.all %}
                {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                {% endfor %}
                {% endif %}
            </p>

            <ul class="product-description hidden">
                <p><i>{{ category.name }}</i></p>
                <p>{{ product.product_type }}</p>
                <li class="mt-2">Generic:
                    {% for generic in product.generics.all %}
                    {{ generic }}
                    {% if not forloop.last %} + {% endif %}
                    {% endfor %}
                </li>
                


                <li class="mt-2">Pack size:
                    {% for pack_size in product.pack_sizes.all %}
                    {% if forloop.first %}
                    {{ pack_size.value_without_decimal }}{{ pack_size.pack_size_unit }}
                    {% else %}
                    & {{ pack_size.value_without_decimal }}{{ pack_size.pack_size_unit }}
                    {% endif %}
                    {% if forloop.last %}
                    / {{ product.product_type }}
                    {% endif %}
                    {% endfor %}
                </li>
            

                <li class="mt-2">Composition:
                    {% for composition in product.compositions.all %}
                    {% if forloop.first %}
                    {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                    {% else %}
                    + {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                    {% endif %}
                    {% if forloop.last %}
                    / {{ product.product_type }}
                    {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <hr>

</section>
{% endfor %}




{% include 'products/modal_content.html' %}



<script src="{% static 'js/products/products.js'%}"></script>
<script src="{% static 'js/products/product_detail.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}