{% extends 'base.html' %}
{% load static %}

{% block title %}Anti Infective | WCL {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/products/products.css'%}">
<link rel="stylesheet" href="{% static 'css/products/product_detail.css'%}">
<link rel="stylesheet" href="{% static 'css/animation/animation.css'%}">
{% endblock css %}

{% block content %}
<section>
    <div class="background-img">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1 class="display-4 hidden-top">Our Products</h1>
            </div>
        </div>
    </div>
</section>

<section class="product-desc-ctn mb-5">
    <div class="product-desc">
        <p class="hidden-top"></p>
    </div>
</section>

<hr>

{% for category in categories %}
    <section class="product-content container">
        <h2 class="hidden-top">{{ category.name }}</h2>
        <button class="button-38" role="button" class="hidden-top"><a href="{% url 'product:category_page' category.slug %}">See more</a></button>
        
        <div class="row justify-content-start mt-3 mb-5" id="product-grid">
            {% for product in category.product_set.all %}
                <div class="col-6 col-md-4 col-lg-3 scroll-fade-in product-item hidden-left" onclick="showModal(this)" href="#">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mx-auto d-block fade-in-left​​ product-img">
                    <p class="productName">
                        {{ product.name }}
                        {% if product.compositions.all|length > 1 %}
                            {% for pack_size in product.pack_sizes.all %}
                                {{ pack_size.value_without_decimal }}{{ pack_size.pack_size_unit }}
                            {% endfor %}
                        {% else %}
                            {% for composition in product.compositions.all %}
                                {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <ul class="product-description hidden">
                        <p><i>{{ category.name }}</i></p>
                        <p>{{ product.product_type }}</p>
                        <li class="mt-2">Generic: {{ product.generic }}</li>
                        {% for pack_size in product.pack_sizes.all %}
                            <li class="mt-2">Pack Size: {{ pack_size.value_without_decimal }}{{ pack_size.pack_size_unit }}</li>
                        {% endfor %}
                        <li class="mt-2">Composition:
                            {% for composition in product.compositions.all %}
                                {% if forloop.first %}
                                    {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                                {% else %}
                                    + {{ composition.value_without_decimal }}{{ composition.composition_unit }}
                                {% endif %}
                                {% if forloop.last %}
                                    / {{ product.product_type }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
{% endfor %}




{% include 'products/modal_content.html' %}



<script src="{% static 'js/products/products.js'%}"></script>
<script src="{% static 'js/products/product_detail.js'%}"></script>
<script src="{% static 'js/animation/hidden_scroll.js'%}"></script>
{% endblock content %}