{% extends 'dashboard/edit_page/edit.html' %}
{% load static %}
<h1 class="d-inline-block ml-auto">{% block dashboard_title %}Edit News{% endblock dashboard_title%}</h1>
{% block content %}
<style>
    .hidden {
        display: none;
    }
    p {
        color: #000 !important;
    }
</style>
<div class="modal fade" id="pop-up" tabindex="-1" role="dialog" aria-labelledby="pop-up-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pop-up-label">Update History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="update_history">All Updates:</label>
                    <ul>
                        {% if new.updatehistory_set.all %}
                        <ul>
                            {% for update in new.updatehistory_set.all %}
                            <li>{{ update.update_time }} - Editor: <b>{{ update.user.username }}</b></li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'dashboard:update_history' new.id %}" class="btn btn-primary mt-2">View<i
                                class="fa-solid fa-eye ml-2"></i> </a>
                        {% else %}
                        <p>No update history available.</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="editNewsForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ form.title.value }}">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description">{{ form.description.value }}</textarea>
    </div>
    <div class="form-group" id="currentImageContainer">
        <label for="current_image">Current Image:</label>
        {% if new.image %}
        <div>
            <img src="{{ new.image.url }}" alt="Current Image" style="max-width: 100%; height: auto;" class="image-fullscreen-trigger">
            <input type="hidden" name="remove_image" value="1">
        </div>
        {% else %}
        <p class="text-dark">No image available</p>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="image">New Image:</label>
        <input type="file" class="form-control-file" id="image" name="image" onchange="previewImage(event)">
    </div>
    <div class="form-group" id="newImagePreviewContainer">
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="publishCheckbox" name="publishCheckbox" 
            {% if new.is_published %}
            checked
            {% endif %}>
            <label class="form-check-label" for="publishCheckbox">Publish</label>
        </div>
    </div>
    <div class="form-group">
        <label for="update_count">Update Count:</label>
        <input type="text" class="form-control" id="update_count" name="update_count" value="{{ new.update_count }}"
            disabled>
    </div>
    <button type="button" id="show-data-btn" data-toggle="modal" data-target="#pop-up" class="btn btn-warning"><i
            class="fa-solid fa-clock-rotate-left"></i></button>
    <button type="submit" class="btn btn-primary" id="saveNewsChangesButton"><i
            class="fa-solid fa-floppy-disk"></i></button>
</form>


<div id="fullscreen" class="fullscreen hidden-bottom" style="display: none;">
    <span class="close-btn" onclick="closeFullScreen()">
        <i class="fa fa-times" style="color:red;" aria-hidden="true"></i>
    </span>
    <img id="fullscreen-img" src="" alt="Full Screen Image">
    <div class="zoom-controls">
        <button onclick="zoomIn()">Zoom In <i class="fa fa-plus" aria-hidden="true"></i></button>
        <button onclick="zoomOut()">Zoom Out <i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
</div>


<script>
    function removeImage() {
        var currentImageContainer = document.getElementById('currentImageContainer');
        currentImageContainer.innerHTML = '<p>No image available</p>';
    }
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var imagePreview = document.createElement('img');
            imagePreview.src = reader.result;
            imagePreview.style.maxWidth = '100%';
            imagePreview.style.height = 'auto';
            var newImagePreviewContainer = document.getElementById('newImagePreviewContainer');
            newImagePreviewContainer.innerHTML = ''; // Clear previous image preview
            newImagePreviewContainer.appendChild(imagePreview);
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    // Function to show SweetAlert confirmation for form submission
    function confirmFormSubmission(event) {
        event.preventDefault(); // Prevent the default form submission
        Swal.fire({
            title: 'Save Changes?',
            text: 'Are you sure you want to save the changes?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, save changes!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form if confirmed
                document.getElementById('editNewsForm').submit();
            }
        });
    }
    // Attach the confirmation function to the Enter key press event
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            confirmFormSubmission(event);
        }
    });
    // Attach the confirmation function to the form submission event
    document.getElementById('saveNewsChangesButton').addEventListener('click', confirmFormSubmission);

    
    document.getElementById('show-data-btn').addEventListener('click', function () {
        document.getElementById('pop-up').classList.remove('hidden');
    });
</script>
{% endblock content %}