{% extends 'dashboard/edit_page/edit.html' %}
{% load static %}
<!-- edit_manufacturer.html -->

<h1 class="d-inline-block ml-auto">{% block dashboard_title %}Edit Manufacturer{% endblock dashboard_title%}</h1>


{% block content %}
<form method="post" id="editManufacturerForm">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value }}">
    </div>
    <div class="form-group">
        <label for="country">Country:</label>
        <select class="form-control" id="country" name="country">
            {% for country_value, country_label in form.country.field.choices %}
            {% if country_value == form.country.value %}
            <option value="{{ country_value }}" selected>{{ country_label }}</option>
            {% else %}
            <option value="{{ country_value }}">{{ country_label }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description">{{ form.description.value }}</textarea>
    </div>
    <button type="button" class="btn btn-primary" id="saveManufacturerChangesButton">Save Changes</button>
</form>

<script>
    // Function to show SweetAlert confirmation for form submission
    function confirmFormSubmission(event) {
        event.preventDefault(); // Prevent the default form submission

        Swal.fire({
            title: 'Save Changes?',
            text: 'Are you sure you want to save the changes?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, save changes!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form if confirmed
                document.getElementById('editManufacturerForm').submit();
            }
        });
    }

    // Attach the confirmation function to the Enter key press event
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            confirmFormSubmission(event);
        }
    });

    // Attach the confirmation function to the button click event
    document.getElementById('saveManufacturerChangesButton').addEventListener('click', confirmFormSubmission);
</script>

{% endblock content %}