{% extends 'dashboard/edit_page/edit.html' %}
{% load static %}
<!-- edit_manufacturer.html -->

<h1 class="d-inline-block ml-auto">{% block dashboard_title %}Edit Product{% endblock dashboard_title%}</h1>


{% block content %}
<form method="post" id="editProductForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value }}">
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer:</label>
                <select class="form-control" id="manufacturer" name="manufacturer">
                    {% for manufacturer in form.manufacturer.field.choices %}
                    {% if manufacturer.0 == form.manufacturer.value %}
                    <option value="{{ manufacturer.0 }}" selected>{{ manufacturer.1 }}</option>
                    {% else %}
                    <option value="{{ manufacturer.0 }}">{{ manufacturer.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="compositions">Compositions:</label>
                <select class="form-control" id="id_compositions" name="compositions" multiple>
                    {% for composition in form.compositions.field.choices %}
                    {% if composition.0 in form.compositions.value %}
                    <option value="{{ composition.0 }}" selected>{{ composition.1 }}</option>
                    {% else %}
                    <option value="{{ composition.0 }}">{{ composition.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary mt-3"
                    data-composition-url="{% url 'dashboard:add_composition_view' %}" onclick="openCompositionWindow()">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <button type="button" class="btn btn-success mt-3" onclick="refreshDatabase()">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </button>
            </div>
            <div class="form-group">
                <label for="id_pack_sizes">Pack Sizes:</label>
                <select class="form-control" id="pack_sizes" name="pack_sizes" multiple>
                    {% for pack_size in form.pack_sizes.field.choices %}
                    {% if pack_size.0 in form.pack_sizes.value %}
                    <option value="{{ pack_size.0 }}" selected>{{ pack_size.1 }}</option>
                    {% else %}
                    <option value="{{ pack_size.0 }}">{{ pack_size.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary mt-3"
                    data-pack-size-url="{% url 'dashboard:add_pack_size_view' %}" onclick="openPackSizeWindow()">
                    <i class="fa-solid fa-plus"></i>
                </button>

                <button type="button" class="btn btn-success mt-3" onclick="refreshDatabase()">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </button>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="generic">Generic:</label>
                <select class="form-control" id="generic" name="generic">
                    {% for generic in form.generic.field.choices %}
                    {% if generic.0 == form.generic.value %}
                    <option value="{{ generic.0 }}" selected>{{ generic.1 }}</option>
                    {% else %}
                    <option value="{{ generic.0 }}">{{ generic.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="category">
                    {% for category in form.category.field.choices %}
                    {% if category.0 == form.category.value %}
                    <option value="{{ category.0 }}" selected>{{ category.1 }}</option>
                    {% else %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="product_type">Product Type:</label>
                <select class="form-control" id="product_type" name="product_type">
                    {% for product_type in form.product_type.field.choices %}
                    {% if product_type.0 == form.product_type.value %}
                    <option value="{{ product_type.0 }}" selected>{{ product_type.1 }}</option>
                    {% else %}
                    <option value="{{ product_type.0 }}">{{ product_type.1 }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="expiry_date">Expiry Date:</label>
                <input type="date" class="form-control" id="expiry_date" name="expiry_date"
                    value="{{ expiry_date_value }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" id="currentImageContainer">
                <label for="current_image">Current Image:</label>
                {% if form.image.value %}
                <div>
                    <img src="{{ form.image.value.url }}" alt="Current Image" style="max-width: 100%; height: auto;"
                        class="image-fullscreen-trigger">
                    <input type="hidden" name="remove_image" value="1">
                </div>
                {% else %}
                <p class="text-dark">No image available</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="image">New Image:</label>
                <input type="file" class="form-control-file" id="image" name="image" onchange="previewImage(event)">
            </div>
            <div class="form-group" id="newImagePreviewContainer">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description"
                    name="description">{{ form.description.value }}</textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="saveProductChangesButton"><i
            class="fa-solid fa-floppy-disk"></i></button>
</form>




<script>
    function refreshDatabase() {
        fetch('{% url "dashboard:refresh_database_view" %}')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Clear existing options for compositions
                $('#id_compositions').empty();
                // Clear existing options for pack sizes
                $('#pack_sizes').empty();

                // Add new options for compositions based on the response
                if (data.compositions && Array.isArray(data.compositions)) {
                    data.compositions.forEach(composition => {
                        $('#id_compositions').append(`<option value="${composition.id}">${composition.label}</option>`);
                    });
                } else {
                    throw new Error('Invalid compositions data');
                }

                // Add new options for pack sizes based on the response
                if (data.pack_sizes && Array.isArray(data.pack_sizes)) {
                    data.pack_sizes.forEach(pack_size => {
                        $('#pack_sizes').append(`<option value="${pack_size.id}">${pack_size.label}</option>`);
                    });
                } else {
                    throw new Error('Invalid pack sizes data');
                }
            })
            .catch(error => console.error('Error:', error.message));
    }

</script>




{% endblock content %}