{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Edit base{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard/fullscreen_image/fullscreen_img.css'%}">
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard_base.css'%}">
    <link rel="stylesheet" href="{% static 'css/darkmode/dark_mode.css'%}">
    {% block css %}{% endblock css %}
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="{% static 'img/logo/image-removebg-preview.png' %}" width="120" class="logo"/>
                {% if user.is_authenticated %}
                <h3 class="ml-3">Hello, {{ user.username }}!</h3>
                {% else %}
                <h3 class="ml-3">Hello, Guest!</h3>
                {% endif %}
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{% url 'dashboard:dashboard' %}"><i class="fa-solid fa-chart-simple mr-2"></i> Overview</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:products' %}"><i class="fa fa-sitemap mr-2" aria-hidden="true"></i> Product</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:manufacturer' %}" aria-expanded="false"><i class="fa fa-industry mr-2" aria-hidden="true"></i> Manufacturer</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:category' %}" ><i class="fa-solid fa-list mr-2"></i> Category</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:product_type' %}"><i class="fa-solid fa-pills mr-2"></i> Product type</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:gallery_list' %}"><i class="fa-solid fa-image"></i> Gallery</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:news' %}"><i class="fa-solid fa-newspaper mr-2"></i> News</a>
                </li>
                {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'dashboard:user' %}"><i class="fa-solid fa-user mr-2"></i> Users</a>
                </li>
                {% endif %}
            </ul>
            <a href="{% url 'dashboard:logout' %}" class="btn-danger btn ml-3">Log out</a>
            <button id="darkModeButton" class="btn">
                <i class="fas fa-moon"></i></button>
        </nav>



        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div>

                    <button type="button" id="sidebarCollapse" class="btn btn-info mr-5 ml-3">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <div class="navbar-collapse" id="navbarSupportedContent">
                    </div>
                </div>
                <h1 class="d-inline-block ml-auto​ text-light​">{% block dashboard_title %}Dashboard Base{% endblock dashboard_title%}
                </h1>
            </nav>


            <div class="back-button-ctn">
                <a href="#" id="backButton" class="ml-4 btn-primary" ><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            </div>

            
            <div class="container mt-5 custom-ctn">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>



    <!-- Include SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/features/back_button.js'%}"></script>
    <script src="{% static 'js/dashboard/edit/confirm_save.js'%}"></script>
    <script src="{% static 'js/dashboard/fullscreen_image/fullscreen_img.js'%}"></script>
    <script src="{% static 'js/darkmode/dark_mode.js'%}"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>

