{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}
Update History
{% endblock title %}

<h1 class="d-inline-block ml-auto​ text-light​">{% block dashboard_title %}Update History{% endblock dashboard_title%}
</h1>
{% block content %}
<style>
    p {
        color: #000 !important;
    }

    img {
        max-width: 150px;
        max-height: 150px;
    }

    .update-news-row {
        border-radius: 10px;
    }
</style>

<div class="back-button-ctn">
    <a href="#" id="backButton" class="btn-primary ml-4"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
</div>


<div class="container update-news-ctn">
    <h1 class="mt-4">Update History for "{{ new.title }}"</h1>
    <p><strong>Created At:</strong> {{ new.created_at }}</p>
    {% if update_history_entries %}
        {% for update in update_history_entries %}
            <div class="row border p-3 mb-3 update-news-row">
                <div class="col-md-4">
                    <h5>Previous</h5>
                    <p><strong>Title:</strong> {{ update.title_before }}</p>
                    <p><strong>Description:</strong> {{ update.description_before }}</p>
                    {% if update.image_before %}
                        <img src="{{ update.image_before.url }}" alt="Previous Image" class="img-fluid image-fullscreen-trigger">
                    {% else %}
                        None
                    {% endif %}
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-arrow-right-long" style="font-size: 100px;"></i>
                </div>
                <div class="col-md-4">
                    <h5>New</h5>
                    <p><strong>Title:</strong> {{ update.title_after }}</p>
                    <p><strong>Description:</strong> {{ update.description_after }}</p>
                    {% if update.image_after %}
                        <img src="{{ update.image_after.url }}" alt="New Image" class="img-fluid image-fullscreen-trigger">
                    {% else %}
                        None
                    {% endif %}
                    <p><strong>Updated Time:</strong> {{ update.update_time }}</p>
                    {% if update.user %}
                        <p><strong>Editor:</strong> {{ update.user.username }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No update history available.</p>
    {% endif %}
</div>



<div id="fullscreen" class="fullscreen hidden-bottom" style="display: none;">
    <span class="close-btn" onclick="closeFullScreen()">
        <i class="fa fa-times" style="color:red;" aria-hidden="true"></i>
    </span>
    <img id="fullscreen-img" src="" alt="Full Screen Image">
    <div class="zoom-controls">
        <button onclick="zoomIn()">Zoom In <i class="fa fa-plus" aria-hidden="true"></i></button>
        <button onclick="zoomOut()">Zoom Out <i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
</div>



<script src="{% static 'js/features/back_button.js'%}"></script>
{% endblock content %}