{% extends 'dashboard/add_page/add.html' %}


<h1 class="d-inline-block ml-auto​ text-light​">{% block dashboard_title %}Add product type{% endblock dashboard_title%}
</h1>

{% block content %}
<form method="post" id="myForm">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name" class="form-label">Product Type Name:</label>
        <input type="text" class="form-control" id="id_name" name="name"
            value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
    </div>
    <div class="form-group">
        <label for="id_description" class="form-label">Description:</label>
        <textarea class="form-control" id="id_description"
            name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="validateForm()">Save</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function validateForm() {
        try {
            var nameInput = document.getElementById('id_name').value.trim();
            if (nameInput === '') {
                Swal.fire("Error", "Please enter the category name", "error");
            } else {
                document.getElementById('myForm').submit();
            }
        } catch (error) {
            console.error("Error in validateForm:", error);
        }
    }

</script>
{% endblock %}