{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo/image-removebg-preview.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/products/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkmode/dark_mode.css'%}">
    {% block css %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
</head>



<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <i class="fa-solid fa-xmark icon-close2 js-menu-toggle" style="font-size: 24px;"></i>
            </div>
        </div>
        <div class="site-mobile-menu-body">
            <nav class="site-navigation text-right ml-auto" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto">
                    <!-- Your menu items here -->
                </ul>
            </nav>
        </div>
    </div>


    <div class="top-bar">
        <div class="container">
            <div class="row">

                <div class="col-12">

                    <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span
                            class="d-none d-md-inline-block"><i class="fa fa-globe" aria-hidden="true"></i>
                            www.wcl.com</span></a>

                    <span class="mx-md-2 d-inline-block"></span>
                    <a href="tel:+8550121991925" class=""><span class="mr-2 icon-phone"></span> <span
                            class="d-md-inline-block"><i class="fa fa-phone" aria-hidden="true"></i> (+855) 012 199
                            1925</span></a>
                    <button id="darkModeButton" class="btn">
                        <i class="fas fa-moon"></i></button>
                    <div class="float-right">

                        <a href="#" class=""><span class="fab fa-youtube"></span> <span
                                class="d-none d-md-inline-block">Youtube</span></a>

                        <span class="mx-md-2 d-inline-block"></span>

                        <a href="#" class=""><span class="fab  fa-facebook"></span> <span
                                class="d-none d-md-inline-block">Facebook</span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Header -->
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
        <div class="row align-items-center position-relative mr-5">
            <div class="site-logo">
                <a href="{% url 'home:home' %}">
                    <img src="{% static 'img/logo/image-removebg-preview.png' %}" alt="logo" width="100px" class="logo">
                </a>
            </div>
            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">
                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a href="{% url 'home:home'%}" id="home-link" class="nav-link">Home</a></li>
                        <li><a href="{% url 'home:ceo_message'%}" id="ceo-link" class="nav-link">Ceo Message</a></li>
                        <li><a href="#" id="vision-link" class="nav-link">Vision</a></li>

                        <li class="has-children">
                            <a href="{% url 'product:products'%}" id="product-link" class="navs-link">Our
                                Products</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="#" id="anti-infective-link" class="nav-link">Anti Infection</a>
                                </li>
                                <li><a href="#pricing-section" id="vitamin-link" class="nav-link">Vitamin</a>
                                </li>
                                <li><a href="#faq-section" id="anti-virus-link" class="nav-link">Anti-Virus</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" id="home-link" class="nav-link">Awards</a></li>
                        <li><a href="#" id="home-link" class="nav-link">Top Management</a></li>
                        <li><a href="{% url 'home:about_us'%}" id="about-us-link" class="nav-link">About Us</a>
                        </li>
                        <li><a href="{% url 'home:contact_us' %}" id="contact-link" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="toggle-button d-inline-block d-lg-none">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black">
                    <i class="fa-solid fa-bars" style="font-size:24px; color:#000;"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <div class="main-content">
        {% block content %}
        {% endblock content %}
    </div>



    <footer class="footer mt-auto py-3 ">
        <div class="container footer-ctn">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <h3>Follow Us</h3>

                    <ul class="list-unstyled d-flex justify-content-between social-media-list">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-4 mb-4">
                    <h3>Website Pages</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="#">Manufacturing Facility</a></li>
                        <li><a href="#">Quality Management</a></li>
                        <li><a href="#">Contract Manufacturing</a></li>
                        <li><a href="#">Distribution Partnerships</a></li>
                        <li><a href="#">News & Updates</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Careers</a></li>

                    </ul>
                </div>
                <div class="col-md-4 mb-4">
                    <h3>Our Products</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Anti Infectives</a></li>
                        <li><a href="#">Cardiovascular</a></li>
                        <li><a href="#">Anti-Viral</a></li>
                        <li><a href="#">Central Nervous System</a></li>
                        <li><a href="#">Diabetes Care</a></li>
                        <li><a href="#">Gastrointestinal Tract</a></li>
                        <li><a href="#">Hepatic Care</a></li>
                        <li><a href="#">Haematinics</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-4">
                    <p class="footer-description">
                        World Cure Life Sciences company was established in 2018 in Phnom Penh, Cambodia. From the
                        beginning, the company has provided a diversified range of high-quality health care
                        products, including those in Cardiology, Gynecology, Neuropsychiatry, Ophthalmology,
                        Diabetes, Nutrition, and Dietary supplements. World Cure Life Sciences is a company focused
                        on growth, innovation, and delivering quality products throughout Cambodia.
                    </p>
                </div>
            </div>
        </div>
        <div class="container text-center mt-3">
            <p class="text-muted">Copyright © 2024 WCL</p>
        </div>
    </footer>
    </div>






    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/jquery.sticky.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>
    <script src="{% static 'js/darkmode/dark_mode.js'%}"></script>
    {% block js %}
    {% endblock js %}
</body>

</html>