{% extends 'dashboard/dashboard_base.html' %}
{% load static %}


<h1 class="d-inline-block ml-auto​ text-light​">{% block dashboard_title %}Category{% endblock dashboard_title%}
</h1>
{% block content %}
<div class="container mt-5">
    <h1>Category List</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{% url 'dashboard:edit_category' category.id %}" class="btn btn-primary">Edit</a>
                </td>
                
                <!-- Edit button -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}