{% extends 'dashboard/dashboard_base.html' %}

{% block title %}
    Dashboard | News
{% endblock title %}


<h1 class="d-inline-block ml-auto​ text-light​">{% block dashboard_title %}News{% endblock dashboard_title%}
</h1>

{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        {% for news_item in news_items %}
        <tr>
            <td>{{ news_item.title }}</td>
            <td>{{ news_item.description }}</td>
            <td>
                {% if news_item.image %}
                    <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}" width="100" class="img-fluid rounded">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ news_item.created_at }}</td>
            <td>{{ news_item.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}