{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %}
Dashboard | News
{% endblock title %}


<h1 class="d-inline-block ml-auto text-light">
    {% block dashboard_title %}News{% endblock dashboard_title%}
</h1>

{% block content %}
<style>
    .published {
        color: #fff;
        background-color: green;
    }

    .not-published {
        color: #fff;
        background-color: red;
    }

    img {
        cursor: pointer;
    }
</style>


<h1>News List</h1>
<!-- Add News Button -->
<div class="row mb-3">
    {% if user.is_superuser %}
    <div class="col-md-4">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewsModal">
            <i class="fa fa-plus text mr-1"></i>Add
        </button>
    </div>
    {% endif %}
</div>

<!-- Search Input -->
<div class="row mb-3">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-danger" id="clearSearchInput" type="button">
                    <i class="fa fa-eraser"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="table-container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Created At</th>
                    <th>Last Updated At</th>
                    <th>Status</th>
                    {% if user.is_superuser %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for news_item in news_items %}
                <tr>
                    <td>{{ news_item.title }}</td>
                    <td>{{ news_item.description }}</td>
                    <td>
                        {% if news_item.image %}
                        <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}" width="100"
                            class="img-fluid rounded image-fullscreen-trigger">
                        {% else %}
                        No Image
                        {% endif %}
                    </td>
                    <td>{{ news_item.created_at }}</td>
                    <td>{{ news_item.updated_at }}</td>
                    <td class="{% if news_item.is_published %}published{% else %}not-published{% endif %}">
                        {% if news_item.is_published %}Published{% else %}Not Published{% endif %}
                    </td>
                    {% if user.is_superuser %}
                    <td style="white-space: nowrap; width: 1%;">
                        <a href="{% url 'dashboard:edit_news' news_item.slug %}" class="btn btn-primary"><i
                                class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="{% url 'dashboard:update_history' news_item.slug %}" class="btn btn-warning"><i
                                class="fa-solid fa-clock-rotate-left"></i></a>
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ news_item.id }}')"><i
                                class="fa fa-trash" aria-hidden="true"></i></button>
                        <!-- Form for deletion, hidden initially -->
                        <form id="deleteForm-{{ news_item.id }}" action="{% url 'dashboard:delete_news' news_item.id %}"
                            method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="addNewsModal" tabindex="-1" role="dialog" aria-labelledby="addNewsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewsModalLabel">Add News</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add news form -->
                <form method="post" id="myForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title" class="form-label">Title:</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="form-group">
                                <label for="description" class="form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="image" class="form-label">Image:</label>
                                <input type="file" class="form-control-file" id="image" name="image"
                                    onchange="previewImage(event)">
                            </div>
                            <div class="form-group">
                                <img id="imagePreview" src="#" alt="Preview Image"
                                    style="max-width: 100%; height: auto; display: none;">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="publishCheckbox"
                                    name="publishCheckbox">
                                <label class="form-check-label" for="publishCheckbox">Publish this news</label>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="validateForm()">Add News</button>
            </div>
        </div>
    </div>
</div>




<div id="fullscreen" class="fullscreen hidden-bottom" style="display: none;">
    <span class="close-btn" onclick="closeFullScreen()">
        <i class="fa fa-times" style="color:red;" aria-hidden="true"></i>
    </span>
    <img id="fullscreen-img" src="" alt="Full Screen Image">
    <div class="zoom-controls">
        <button onclick="zoomIn()">Zoom In <i class="fa fa-plus" aria-hidden="true"></i></button>
        <button onclick="zoomOut()">Zoom Out <i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
</div>

<script>


</script>

{% endblock content %}