{% extends 'dashboard/dashboard_base.html' %}



<h1 class="d-inline-block ml-auto">{% block dashboard_title %}Overview{% endblock dashboard_title%}
</h1>
{% block content %}

<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <h2>Latest Products</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity Available</th>
                        <th>Expiry Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in latest_products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.quantity_available }}</td>
                        <td>{{ product.expiry_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Latest Categories</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in latest_categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Latest Manufacturers</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for manufacturer in latest_manufacturers %}
                    <tr>
                        <td>{{ manufacturer.name }}</td>
                        <td>{{ manufacturer.country }}</td>
                        <td>{{ manufacturer.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Latest Product Types</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product_type in latest_product_types %}
                    <tr>
                        <td>{{ product_type.name }}</td>
                        <td>{{ product_type.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}