{% extends 'dashboard/dashboard_base.html' %}

{% block title %}
Dashboard | Product Type
{% endblock title %}

<h1 class="d-inline-block ml-auto​ text-light​">{% block dashboard_title %}Product Type{% endblock dashboard_title%}
</h1>



{% block content %}
<h1>Drug Type List</h1>
<div class="row mb-3">
    {% if request.user.is_superuser %}
    <div class="col-md-4">
        <a href="#" class="bg-success p-2 text-light rounded" data-toggle="modal" data-target="#productTypePopup">
            <i class="fa fa-add text-light mr-1"></i>Add
        </a>
    </div>
    {% endif %}
    <div class="col-md-8 mt-2">
        <div class="input-group">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="input-group-append">
                <span class="input-group-text bg-danger text-light ml-2" id="clearSearchInput"
                    style="cursor: pointer;"><i class="fa-solid fa-eraser"></i></span>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table" id="drugTypeTable">
        <thead class="thead-dark">
            <tr>
                <th>Drug Type Name</th>
                <th>Description</th>
                {% if request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for drug_type in drug_types %}
            <tr>
                <td>{{ drug_type.name }}</td>
                <td>{{ drug_type.description }}</td>
                {% if request.user.is_superuser %}
                <td>
                    <div class="btn-group" role="group">
                        <a href="{% url 'dashboard:edit_product_type' drug_type.slug %}" class="btn btn-primary mr-2">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ drug_type.id }}')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!-- Form for deletion, hidden initially -->
                    <form id="deleteForm-{{ drug_type.id }}"
                        action="{% url 'dashboard:delete_product_type' drug_type.id %}" method="post"
                        style="display: none;">
                        {% csrf_token %}
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




<!-- Product Type Modal -->
<div class="modal fade" id="productTypePopup" tabindex="-1" role="dialog" aria-labelledby="productTypePopupLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productTypePopupLabel">Add Product Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Product Type Form -->
                <form method="post" id="productTypeForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_name" class="form-label">Product Type Name:</label>
                        <input type="text" class="form-control" id="id_name" name="name"
                            value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                    </div>
                    <div class="form-group">
                        <label for="id_description" class="form-label">Description:</label>
                        <textarea class="form-control" id="id_description"
                            name="description">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="validateForm()"><i
                        class="fa-solid fa-floppy-disk"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}